@font-face {
    font-family: "amatic";
    src: url(assets/fonts/amaticsc-regular-webfont.woff) format("woff"),
        url(assets/fonts/amaticsc-regular-webfont.woff2) format("woff2");

    font-style: normal;
    font-weight: 500;
}

body {
    height: 100%;

    margin: 0;
    padding: 0;

    text-align: center;

    background-image: url(assets/img/greenboard-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: "amatic";

    color: white;
}

button {
    font-family: "amatic";

    color: black;
}

h1 {
    font-size: 6rem;

    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 3rem;

    margin-top: 20px;
    margin-bottom: 20px;
}

.board {
    margin: auto;

    width: 500px;
    height: 500px;

    display: grid;

    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.message {
    opacity: 0;
    height: 3rem;
}

.cell {
    box-sizing: border-box;

    width: 100%;       
    height: 100%;

    font-size: 6.4rem;

    border: 3px solid white;
    background: none;
}

.cell.X, .X {
    color: red;

}

.cell.O, .O {
    color: blue;
}

.setup-players.dialog {
    width: 400px;
    height: 200px;

    padding: 0;
}

.setup-players.dialog > .dialog-container{
    width: 100%;
    height: 100%;

    background-color: yellow;

    display: grid;

    font-size: 2rem;
    font-weight: 700;
}

.setup-players.dialog > .dialog-container > div {
    display: flex;

    align-items: center;

    padding: 10px;
}

.dialog-container > div > input[type="text"] {
    height: 1.5rem;
    width: 140px;

    font-family: "amatic";
    font-size: 1.5rem;
    font-weight: 700;

    flex: 1;
}

.dialog-container > div > button {
    flex: 1;

    height: 32px;

    font-size: 1.5rem;
    font-weight: 700;
}

.restart-btn.wrapper {
    margin-top: 20px;

    display: flex;

    align-items: center;
    justify-content: center;

    gap: 30px;
}

.restart-btn.wrapper > button {
    width: 120px;
    height: 2rem;

    font-size: 2rem;
    font-weight: 700;
}