body {
    margin: 0;
    padding: 0;
}

.board {
    display: grid;

    grid-template-columns: repeat(3, minmax(100px, 220px));
    grid-template-rows: repeat(3, minmax(100px, 220px));
}

.cell, button {
    width: 100%;       
    height: 100%;
}
